{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:import/recommended",
    "prettier"
  ],
  "parserOptions": {
   "project": "**/tsconfig.json"
  },
  "plugins": ["prettier", "import", "@typescript-eslint"],
  "rules": {
    "no-plusplus": "off",
    "no-console": "warn",
    "class-methods-use-this":"off",
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-unused-expressions": "off",
    "import/prefer-default-export": "off",
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ]
  },
  "ignorePatterns": ["jest.config.ts"]
}
