{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:import/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["prettier", "import", "@typescript-eslint"],
  "rules": {
    "no-plusplus": "off",
    "no-console": "warn",
    "@typescript-eslint/no-explicit-any": "error",
    "import/prefer-default-export": "off",
    "no-param-reassign": [
      "error",
      {
        "props": true
      }
    ]
  },
  "ignorePatterns": ["*config.js"]
}
