.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;

  &__code {
    font-size: 6rem;
    font-weight: 700;
  }

  &__link {
    width: fit-content;
    padding: 27px 24px;
    color: $white-color;
    background-color: $black-color;
  }
}
